PORT=8000
MONGODB_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret

# Judge0 (RapidAPI) Configuration
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
RAPID_API_KEY=your_rapid_api_key
RAPID_API_HOST=judge0-ce.p.rapidapi.com

# Email (Brevo) Configuration
BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=your_verified_sender_email
CLIENT_URL=http://localhost:5173

# Gemini API Configuration
GEMINI_API_KEY=your_gemini_api_key

# Cloudinary Configuration (For Profile Image Uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

NODE_ENV=development
